.loader {
  display: flex;
  justify-content: center;
  color: rgb(34, 34, 241);
}
.loader p {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 4rem;
}
.user_list {
  margin: 0;
  margin-top: 30px;
  padding: 0 1rem 0 1rem;
  list-style: none;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 380px));
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 11vh;
}
.user_card {
  position: relative;
  padding: 1.2rem;
  height: 250px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgba(34, 34, 241, 0.379);
  border-radius: 5px;
  border: solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.user_card:hover {
  transform: scale(1.025);
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -ms-transform: scale(1.025);
  -o-transform: scale(1.025);
}
.user_card__full_name {
  margin: 0;
  align-self: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  line-height: 5rem;
}
.user_card__data {
  align-self: flex-start;
  margin: 10px;
}
.user_card__buttons {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.edit-btn:hover {
  transform: scale(1.5);
}
.delete-btn {
  background: none;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.delete-btn:hover{
  transform: scale(1.5);
}

@media (max-width: 500px) {
  .user_card {
    justify-self: center;
    width: 80%;
  }
}
@media (max-width: 385px) {
  .user_card {
    justify-self: center;
    width: 65%;
  }
}
